<blockquote>
    <form action="/todos/<%=@id%>/update" method="post">
        <label>Namn <input type="text" name="todo_name"></label>
        <label>Beskrivning <input type="text" name="todo_description"></label>
        <input type="submit" value="Spara">
    </form>
</blockquote>